body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.flex-container{
    display: flex;
    background-color: blanchedalmond;
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
}
.flex-container div{
    background-color: coral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border: cornflowerblue 2px solid;
}

.flex-containerNotas{
    display: flex;
    background-color: blanchedalmond;
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
}
.flex-containerNotas div{
    background-color: coral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border: cornflowerblue 2px solid;
}
.wrapper {
    text-align: center;
  }
  
  .centerCenter {
    max-width: 400px;
    display: inline-block;
  }
  .pad{
    padding-top: 50px;
  }