body{
  font-family: "Arial";
  line-height: 1.35;
  padding: 2rem;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
}
.flex-container{
    display: flex;
    background-color: blanchedalmond;
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
}
.flex-container div{
    background-color: coral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border: cornflowerblue 2px solid;
}

.flex-containerNotas{
    display: flex;
    background-color: blanchedalmond;
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
}
.flex-containerNotas div{
    background-color: coral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border: cornflowerblue 2px solid;
}
.wrapper {
    text-align: center;
  }
  
  .centerCenter {
    max-width: 400px;
    display: inline-block;
  }
  .pad{
    padding-top: 25px;
  }
  .divBorder{
    border-top: 1px solid;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  table, th, td {
    border: 2px solid black;
  }
  
  table{
    margin-top:10px;
    margin-bottom:10px;
  }

  .wrapper {
    text-align: center;
  }

  .title{
    font-size: 50px;
    background-color:black;
    color: white;
    font-weight: bold;
  }

  .container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  background-color: white;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
