body{
  font-family: "Arial";
  line-height: 1.35;
  padding: 2rem;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
  display: none;
}
.flex-container{
    display: flex;
    background-color: blanchedalmond;
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
}
.flex-container div{
    background-color: coral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border: cornflowerblue 2px solid;
}

.flex-containerNotas{
    display: flex;
    background-color: blanchedalmond;
    padding: 10px;
    justify-content: space-around;
    align-items: baseline;
}
.flex-containerNotas div{
    background-color: coral;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border: cornflowerblue 2px solid;
}
.wrapper {
    text-align: center;
  }
  
  .centerCenter {
    max-width: 400px;
    display: inline-block;
  }
  .pad{
    padding-top: 50px;
  }
  .divBorder{
    border-top: 1px solid;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  table, th, td {
    border: 1px solid black;
  }
  
  table{
    margin-top:10px;
    margin-bottom:10px;
  }

  .wrapper {
    text-align: center;
  }

  .title{
    font-size: 50px;
    background-color:black;
    color: white;
    font-weight: bold;
  }

  
